[Unit]
Description=Battery Conservation Mode Daemon (Lenovo Yoga/IdeaPad)
After=network.target dbus.service upower.service
Wants=upower.service

[Service]
Type=simple
ExecStart=/usr/bin/conservationd -max 80 -min 75 -interval 45s
Restart=on-failure
RestartSec=5s
RuntimeDirectory=conservationd
Group=conservationd
RuntimeDirectoryMode=0770

[Install]
WantedBy=multi-user.target
